= flash_tag(:error)
= form_for badge, url(:badge_infos, :create), id: 'new_badge' do |f|
  = f.error_messages
  %div.form-group
    = f.label :label, caption: "Badge label"
    = f.text_field :label, placeholder: 'ember-versions', class: 'form-control'
  %div.form-group
    = f.label :title, caption: "Title of your page (for later identification)"
    = f.text_field :title, placeholder: 'Amazing article about Ember.js', class: 'form-control'
  %div.form-group
    = f.label :url, caption: "URL this badge will appear on"
    = f.text_field :url, placeholder: 'http://myblog.com/ember-js-rocks', class: 'form-control'
  = f.fields_for :badge_infos do |bi|
    %div.form-group
      = bi.label :version_start
      = bi.text_field :version_start, class: 'form-control'
    %div.form-group
      = bi.label :version_end
      = bi.text_field :version_end, class: 'form-control'
    %div.form-group
      = bi.label :version_range
      = bi.text_field :version_range, class: 'form-control'

  %div.form-group
    = f.submit "Submit", :class => 'btn btn-default'
