%p
  Hey @#{current_user.handle},
%p
  Thanks for signing up to embadge.io. You currently have
  - if @badges.size > 0
    = @badges.size
  - else
    no
  = "badge".pluralize(@badges.size)


%h2 Your badges

- if @badges.size > 0
  %table.table
    %thead
      %tr
        %th ID
        %th Link
        %th Badge
        %th Last Updated
        %th Actions
    %tbody
    - @badges.each do |badge|
      %tr
        %td= link_to badge.id, url(:badges, :show, id: badge.id)
        %td
          %a{href: badge.url}= badge.title.truncate(75)
        %td
          %a{href: url(:badges, :show, id: badge.id)}
            %img{src: "/b/#{badge.id}.svg"}
        %td
          = time_ago_in_words badge.updated_at
          ago
        %td
          %a{href: url(:badges, :edit, id: badge.id)}
            Edit
- else
  %p
    You currently don't have any badges.
%p
  = link_to 'Create', url(:badges, :new)
  a new badge now.
