%h2 Badge Info

%p
  %object{data: "/b/#{@badge.id}.svg", type: "image/svg+xml"}

%p
  This badge was created by
  = link_to "@#{@badge.user.handle}", "https://github.com/#{@badge.user.handle}"
  and last updated
  = time_ago_in_words @badge.updated_at
  ago.

%p
  It is used in
  = link_to @badge.title, @badge.url, rel: 'nofollow'
%p
  Think this badge is incorrect?
  - if @badge.user == current_user
    %a{href: url(:badges, :edit, id: @badge.id)} Edit the badge!
  - else
    %a{href: url(:changes, :new, id: @badge.id)} Propose a change!

%h3 Embed
%p Embed this badge in your site:
%pre
  &lt;object data="#{absolute_url(:badges, :render, id: @badge.id, format: :svg)}" type="image/svg+xml"&gt;&lt;/object&gt;

or

%pre
  &lt;a href="#{absolute_url(:badges, :show, id: @badge.id)}"&gt;
    &lt;img src="#{absolute_url(:badges, :render, id: @badge.id, format: :svg)}" alt="Ember Community Badge"&gt;&lt;/img&gt;
  &lt;/a&gt;

%h3 Proposed changes

- if @badge.badge_changes.proposed.length > 0
  %table.table
    %thead
      %tr
        %th Badge
        %th Author
        %th Comment
        %th Time
        %th
    %tbody
    - @badge.badge_changes.proposed.each do |change|
      %tr
        %td
          %img{src: url(:badges, :static, start: change.version_start, end: change.version_end, range: change.version_end, format: :svg)}
        %td
          = change.user.handle
        %td
          = change.comment
        %td
          = time_ago_in_words change.created_at
          ago
        %td
          - if logged_in? && change.user != current_user
            %a.btn.btn-xs.btn-primary{href: url(:changes, :vote, change_id: change.id)} +1
          - if logged_in? && @badge.user == current_user
            %a.btn.btn-success.btn-xs{href: url(:changes, :accept, change_id: change.id)} Apply
            %a.btn.btn-danger.btn-xs{href: url(:changes, :reject, change_id: change.id)} Reject
- else
  There are currently no proposed changes to this badge.
